<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    
    <title>Submission Successfull</title>
    <link rel="icon" type="image/x-icon" href="media/fav_logo.ico">
    <script src="https://kit.fontawesome.com/820f450a7b.js" crossorigin="anonymous"></script>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!--Stylesheet-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css" />
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" />
    
    <style>
      *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(
        #e92e3d,
        #ff6e6a
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}
.container{
    width: 1000px;
    height: 500px;
    padding: 50px;
    /* margin: 10px; */
    margin-top: 10px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    box-shadow: 0 15px 25px rgba(50,50,50,0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins",sans-serif;
}

p{
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
}
button{
    background-color: #e92e3d;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 15px 0;
    width: 150px;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}
h3 {
    padding: 30px 0 8px;
    position: relative;
  }
  
  h3::before {
    content: "";
    position: absolute;
    /* left: 0%; */
    bottom: -4px;
    width: 345px;
    height: 10px;
    transform: skew(-12deg) translateX(0%);
    background: rgba(238,111,87,0.5);
    z-index: -1;
  }


    </style>
</head>

<body>
    
    <div class="container">
      <h1 style="font-size: 10vh;"><i class="fa-solid fa-circle-check" style="color: #e92e3d;"></i></h1>
        <h2>Appoinment Booked Successfully</h2>
        <div class="row" style="margin-top: 50px;">
            <div class="col-sm">
              <div class="card" style="height: 200px; width: 600px;">
                <div class="card-body" style="margin-left: 20px;"">
                  <h5 class="card-title" style="text-align: center;"><%=result.name%> you Booked an Appointment</h5>
                  
                  <a href="main" class="btn btn-danger" style="padding-left: 50px;padding-right: 50px; margin-top: 50px; margin-left: 160px;">View Details</a>
                </div>
              </div>
            </div>
        
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <script src="https://kit.fontawesome.com/820f450a7b.js" crossorigin="anonymous"></script>
</body>

</html>